/* root */

:root {
    --headerHeight: 150px;
    --navHeight: 56px;
    --footerHeight: 100px;

    --fontText: 'Roboto', sans-serif;
    --fontHeading: 'Fira Sans', sans-serif;

    --containerPadding: 1em 0;
    --containerMargin: 0.5em;
    --containerWidth: 90%;

    --sectionPadding: 2em 0;

    --mainColor: #3279A6;
    --mainColorLight: #66CDD9;
    --mainColorDark: #03588C;
    --mainColorTransparency: #03588CE5;

    --whiteColor: #fff;
}

/* global */

*, *::before, *::after {
    box-sizing: border-box;
}

img {
    vertical-align: middle;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    font-family: var(--fontText);
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

h1, h2, h3, h4, h5 {
    font-family: var(--fontHeading);
    margin-bottom: var(--containerMargin);
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

label {
	display: inline-block;
}

#root, #__next {
    isolation: isolate;
}

/* table */

.table {
    width: 100%;
    margin-bottom: 1rem;
    background-color: #fff;
    border-collapse: collapse;
}

.table th,
.table td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid var(--mainColor);
}

.table thead {
	background-color: var(--mainColor);
}

.table thead th {
    vertical-align: bottom;
    text-align: left;
    color: var(--whiteColor);
}

.table tbody td a {
    color: var(--mainColorDark);
}

.table tbody + tbody {
    border-top: 2px solid #dee2e6;
}

/* Estilo de los campos del formulario */

.form-control {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-label {
	margin-bottom: 0.5rem;
}

.form-control:focus {
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.form-control:not(:disabled):not(.disabled):focus:not(:focus-visible) {
    border-color: #ced4da;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0);
}

.form-control:disabled,
.form-control[readonly] {
    background-color: #e9ecef;
    opacity: 1;
}

.form-select {
    width: 100%;
    padding: 0.375rem 0.75rem;
    margin-top: 5px;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-primary {
	width: 100%;
    display: block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    background-color: var(--mainColor);
    border: 1px solid var(--mainColor);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
        box-shadow 0.15s ease-in-out;
    cursor: pointer;
}

.btn-primary:hover {
    color: #fff;
    background-color: var(--mainColorDark);
    border-color: var(--mainColorDark);
}

/* header */

.header {
    height: var(--headerHeight);
    background-color: var(--mainColor);
    display: flex;
    flex-direction: column-reverse;
}

.header__container {
    width: var(--containerWidth);
    margin: 0 auto;
    padding: var(--containerPadding);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header__h1 {
    color: var(--whiteColor);
}

.social-icons__ul {
    display: flex;
    gap: 1em;
}

.social-icons__a {
    font-size: 1.5em;
    color: var(--whiteColor);
}

/* nav */

.nav {
    height: var(--navHeight);
    background-color: var(--mainColorDark);
}

.nav__container {
    width: var(--containerWidth);
    margin: 0 auto;
    padding: var(--containerPadding);
}

.nav__ul {
    display: flex;
    gap: 4em;
}

.nav__a {
    color: var(--whiteColor);
    font-weight: bolder;
}

/* main */

.main {
    background-color: whitesmoke;
    min-height: calc(100vh - (var(--headerHeight) + var(--footerHeight) + var(--navHeight)));
}

.main__container {
    width: var(--containerWidth);
    margin: 0 auto;
}

section {
    padding: var(--sectionPadding);
}

.column__p {
	margin-bottom: 1em;
}

.column__a {
	color: var(--mainColorDark);
}



.image-container {
    position: relative;
}

.image-container img {
    display: block;
    height: auto;
    width: 100%;
}

.overlay {
    background-color: var(--mainColorTransparency);
    bottom: 0;
    height: 0;
    left: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    transition: .5s ease;
    width: 100%;
}

.text {
    width: 70%;
    color: var(--whiteColor);
    left: 50%;
    overflow: hidden;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    white-space: wrap;
}

.image-container:hover .overlay {
	height: 100%;
}

/* footer */

.footer {
    height: var(--footerHeight);
    background-color: var(--mainColor);
}

.footer__container {
    width: var(--containerWidth);
    margin: 0 auto;
    padding: var(--containerPadding);
}

.footer__p {
    color: var(--whiteColor);
}
