<!DOCTYPE html>
<html lang="es">

<!-- head -->
<head th:include="template.html::head"></head>
<!-- head -->

<body>
    <!-- header -->
    <div th:include="template.html::header"></div>
    <!-- header -->

    <!-- nav -->
    <div th:include="template.html::nav"></div>
    <!-- nav -->

    <!-- main -->
    <main class="main">
        <div class="main__container">
            <section class="section">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae temporibus voluptate reiciendis ad asperiores aspernatur architecto officiis magni aperiam reprehenderit dolorum, nesciunt laudantium numquam quidem nulla odit ipsa. Delectus, harum?</p>
            </section>
        </div>
    </main>
    <!-- main -->

    <!-- footer -->
    <div th:include="template.html::footer"></div>
    <!-- footer -->
</body>
</html>