<!DOCTYPE html>
<html lang="es">

<!-- head -->
<head th:include="template.html::head"></head>
<!-- head -->

<body>
    <!-- header -->
    <div th:include="template.html::header"></div>
    <!-- header -->

    <!-- nav -->
    <div th:include="template.html::nav"></div>
    <!-- nav -->

    <!-- main -->
    <main class="main">
        <div class="main__container">
            <section class="section">
            	<h2>Gestión de Recetas - CRUD</h2>
                <p>Bienvenido al sistema de administración de recetas, donde puedes crear, leer, actualizar y eliminar tus recetas favoritas. Con este CRUD, podrás organizar tus creaciones culinarias, agregar nuevos platillos, editar los detalles de tus recetas existentes y eliminar aquellas que ya no desees conservar. Explora la versatilidad de este sistema para llevar un registro detallado de tus preparaciones, manteniendo un catálogo personalizado y actualizado de tus deliciosas creaciones.</p><br>
                <p>¡Disfruta de la experiencia de gestionar tus recetas de manera eficiente y sencilla!</p>
            </section>
            <section>
				<div class="container__grid">
					<div class="grid__column">
                		<h3><i class="fa-solid fa-magnifying-glass" style="color: #03588c;"></i> Descubre la Gestión de Recetas</h3>
                		<p class="column__p">Explora nuestro sistema CRUD para crear, leer, actualizar y eliminar recetas. Gestiona tus platillos favoritos de forma eficiente y fácil.</p>
                		<a href="#" class="column__a">Ver más</a>
					</div>
					<div class="grid__column">
                		<h3><i class="fa-solid fa-folder-tree" style="color: #03588c;"></i> Organiza tus Creaciones Culinarias</h3>
                		<p class="column__p">Aprovecha la versatilidad del sistema para organizar tus creaciones. Mantén un catálogo personalizado y actualizado de tus deliciosas recetas.</p>
                		<a href="#" class="column__a">Ver más</a>
					</div>
					<div class="grid__column">
                		<h3><i class="fa-solid fa-arrows-rotate" style="color: #03588c;"></i> Actualiza y Personaliza al Instante</h3>
                		<p class="column__p">Edita y personaliza tus recetas en segundos con el CRUD. Mantén tus creaciones al día y adapta los detalles a tus preferencias culinarias.</p>
                		<a href="#" class="column__a">Ver más</a>
					</div>
					<div class="grid__column">
                		<h3><i class="fa-solid fa-hand-fist" style="color: #03588c;"></i> Simplifica tu Experiencia Culinaria</h3>
                		<p class="column__p">Disfruta de una gestión fácil y eficiente. Elimina recetas sin esfuerzo, mantén el control total y simplifica tu experiencia culinaria al máximo.</p>
                		<a href="#" class="column__a">Ver más</a>
					</div>
				</div>
			</section>
        </div>
    </main>
    <!-- main -->

    <!-- footer -->
    <div th:include="template.html::footer"></div>
    <!-- footer -->
</body>
</html>