<!DOCTYPE html>
<html lang="es">

<!-- head -->
<head th:include="template.html::head"></head>
<!-- head -->

<body>
    <!-- header -->
    <div th:include="template.html::header"></div>
    <!-- header -->

    <!-- nav -->
    <div th:include="template.html::nav"></div>
    <!-- nav -->

    <!-- main -->
    <main class="main">
        <div class="main__container">
            <section class="section">
                <h2>Añade una receta</h2>

                <!-- form -->
                <form th:action="@{/insertar}" th:object="${receta}" method="post">
					<div class="row">
						<div class="row__column">
							<div class="form-group">
								<label for="nombre" class="form-label">Nombre:</label> 
								<input th:field="*{nombre}" type="text" class="form-control" id="nombre" required>
							</div>
						</div>
						<div class="row__column">
							<div class="form-group">
								<label for="calorias" class="form-label">Calorías/Ración:</label> 
								<input th:field="*{calorias}" type="text" class="form-control" id="calorias" required>
							</div>
						</div>
						<div class="row__column">
							<div class="form-group">
								<label for="dificultad" class="form-label">Dificultad:</label>
								<select class="form-select" id="dificultad" name="dificultad">
		                            <option th:each="dificultad : ${dificultades}" th:value="${dificultad.id}" th:text="${dificultad.dificultad}"></option>
		                        </select>
							</div>
						</div>
						<div class="row__column">
		             		<div class="form-group">
								 <label for="btn" class="form-label">Acción:</label>
		                    	<input class="btn btn-primary" type="submit" value="Enviar">
		                    </div>
	                    </div>
	              	</div>
                </form>
				<!-- form -->
            </section>
            <section class="section">
				<h2>Tabla de recetas</h2>

                <!-- table -->
				<table class="table">
					<thead>
						<tr>
			    			<th>#Id</th>
							<th>Nombre</th>
							<th>Calorías/Ración</th>
							<th>Dificultad</th>
							<th>Acciones</th>
			  			</tr>
					</thead>
					<tbody>
						<tr th:each="elemento : ${recetas}">
							<td scope="col" th:text="${'#' + elemento.id}"></td>
							<td th:text="${elemento.nombre}"></td>
							<td th:text="${elemento.calorias + ' cal'}"></td>
							<td th:text="${elemento.dificultad.dificultad}"></td>
							<td>
								<a th:href="'/editar/' + ${elemento.id}"><i class="fa-solid fa-pen-to-square"></i></a> / 
								<a th:href="'/borrar/' + ${elemento.id}"><i class="fas fa-trash"></i></a>
							</td>
						</tr>
					</tbody>
				</table>
				<!-- table -->
			</section>
        </div>
    </main>
    <!-- main -->

    <!-- footer -->
    <div th:include="template.html::footer"></div>
    <!-- footer -->
</body>
</html>